/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #080808;
  color: hsl(132, 10%, 90%);
}

header {
  background-color: #090909;
  color: #e4e9e5;
  padding: 25px;
  text-align: center;
}

nav {
  background-color: #080808;
  padding: 12px;
  text-align: center;
}

video {
  width: 100%;
  max-width: 650px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

video:hover {
  transform: scale(1.05); /* grows slightly */
  box-shadow: 0 0 40px #a6bd0b, 0 10px 20px rgba(0, 0, 0, 0.4); /* green glow + shadow */
}

nav a {
  display: inline-block;
  color: hsl(132, 10%, 90%);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease, text-shadow 0.2s ease, transform 0.2s ease;
}

nav a:hover {
  color: #a6bd0b;
  text-shadow: 0 0 8px #a6bd0b, 0 0 12px #a6bd0b;
  transform: scale(1.5);
}

section {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #e4e9e5;
}

img {
  width: 100%;
  max-width: 650px;
  border-radius: 10px;
  margin-top: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #a6bd0b, 0 10px 20px rgba(0, 0, 0, 0.4);
}
footer {
  background-color: #a6bd0b;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
